<a href="https://colab.research.google.com/github/Maulanip/Pemerograman-Dasar/blob/main/Pertemuan_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = str(input("Barapa porsi makan yang Anda beli?:"))
Nama = str("Siapa nama Pelanggan?:")
jarak = float(input("Berapa jarak dari toko  ke rumah Anda?:"))

Barapa porsi makan yang Anda beli? : 2
Siapa nama Pelanggan ? : Putri
Berapa jarak dari toko  ke rumah Anda? :5.0

In [ ]:
food = "Mi ayam bakso"
print("Hendi makan pake", food)
print("Hendi makan pake"+ food)
print("Hendi makan pake %s" % (food))

Hendi makan pake Mi ayam bakso
Hendi makan pakeMi ayam bakso
Hendi makan pake Mi ayam bakso

In [ ]:
a = 20
b = 5
print("penjumlahan:", a + b)
print("pengurangan:", a - b)
print("perkalian:", a * b)
print("pembagian:", a / b)

penjumlahan: 25
pengurangan: 15
perkalian: 100
pembagian: 4.0

In [ ]:
tahun_lahir = 2006
bulan_lahir = 0.4
nama = "Putri"
print("tahun lahir saya %d" % (tahun_lahir))
print("bulan lahir saya %f" % (bulan_lahir))
print(" saya siapa %s" % (nama))

tahun lahir saya 2006
bulan lahir saya 0.400000
 saya siapa Putri

In [ ]:
bilangan = 8
hasil = (bilangan > 0) and (bilangan % 2 == 0)
print("Genap dan positif?", hasil)

Genap dan positif? True

In [ ]:
harga_makan = int(input("Berapa harga mi ayam per porsi? "))
jumlah_makan = int(input("Berapa porsi yang Anda beli? "))
total_makan = harga_makan * jumlah_makan
print(f"Harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

Berapa harga mi ayam per porsi? 15000
Berapa porsi yang Anda beli? 2
Harga makan per porsi = 15000, totalnya adalah 30000

In [ ]:
#konversi waktu
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60

print(f"Hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")
total_detik = int(input("total_detik"))

Hasil konversi: 1 Jam, 0 Menit, 0 Detik
total_detik358200

In [ ]:
tugas = 80
uts = 70
uas = 90
nilai_akhir =(0.3 * tugas) + (0.3 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

Nilai akhir = 81.0

In [ ]:
nilai_mahasiswa = 98
standar_kelulusan = 75
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan
print(f"Nilai mahasiswa: {nilai_mahasiswa}")
print(f"standar kelulusan: {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")
nilai_mahasiswa = int(input("nilai_mahasiswa"))
standar_kelulusan = int(input("standar_kelulusan"))

Nilai mahasiswa: 98
standar kelulusan: 75
Apakah Mahasiswa Lulus? True
Perlu Remedial? False
nilai_mahasiswa98
standar_kelulusan75

In [26]:
belanja = int(input("Masukkan total belanja"))
if belanja > 1000000:
  diskon = 0.35 * belanja
else:
  diskon = 0
total_harga = belanja - diskon
print("Total harga setelah diskon =", total_harga)

Masukkan total belanja850000
Total harga setelah diskon = 850000

In [34]:
# Menerima input total belanja dari pengguna
belanja = int(input("Memasukkan total belanja: "))
#logika untuk memberikan diskon 35% jika belanja di atas Rp1000000
if belanja > 1000000:
  diskon = 0.35 * belanja
else:
  diskon = 0
# menghitung total harga setalah dikurangi diskon
total_harga = belanja - diskon
# menampilkan hasil
print(f"Total harga setelah diskon: Rp {total_harga:,.2f}")

Memasukkan total belanja: 850000
Total harga setelah diskon: Rp 850,000.00

In [29]:
# Menerima input total belanja dari pengguna
belanja = int(input("Memasukkan total belanja: "))
#logika untuk memberikan diskon 35% jika belanja di atas Rp1000000
if belanja > 1000000:
  diskon = 0.35 * belanja
else:
  diskon = 0
# menghitung total harga setalah dikurangi diskon
total_harga = belanja - diskon
# menampilkan hasil
print(f"Total harga setelah diskon: Rp {total_harga:,.2f}")

Memasukkan total belanja: 3650000
Total harga setelah diskon: Rp 2,372,500.00

In [44]:
# Menerima input tahun dari pengguna dan mengonversinya menjadi integer
tahun = int(input("Masukkan tahun yang ingin di cek:"))
# Menggunakan ekspresi logika kompleks untuk menentukan tahun kabisat
# Sebuah tahun kabisa jika:
#(habis dibagi 4 TAPI tidak habis dibagi 100)
#ATAU
#(habis dibagi 400)
is_kabisat = (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)
# Menampilkan hasil
if is_kabisat:
 print(f"Tahun {tahun} adalah tahun kabisat")
else:
 print(f"Tahun {tahun} bukan tahun kabisat")

Masukkan tahun yang ingin di cek:2032
Tahun 2032 adalah tahun kabisat

In [51]:
# daftar item yang dibeli (nama item, harga, jumlah)
item_belanja = [{"nama":"Kopi Americano", "harga": 35000, "jumlah": 1},
                {"nama":"croissant", "harga": 25000, "jumlah":2},
                {"nama":"kue_lapis", "harga": 40000, "jumlah":2}]
# status keanggotaan pelanggan (True = member, False = bukan member)
is_member = True
# --- Langkah-langkah Perhitungan ---
# 1. Hitung Subtotal
subtotal = 0
for item in item_belanja:
    subtotal += item["harga"] * item["jumlah"]
print(f"Subtotal belanja: Rp {subtotal:,.0f}")
# 2. Evaluasi Syarat Diskon
# Pelanggan dapat diskon jika member DAN subtotal > Rp 100.000
berhak_diskon = is_member and subtotal > 100000
# 3. Hitung Jumlah Diskon
jumlah_diskon = 0
if berhak_diskon:
    jumlah_diskon = 0.15 * subtotal
print(f"Diskon yang didapat: Rp {jumlah_diskon:,.0f}")
# 4. Hitung Harga Setelah Diskon
harga_setelah_diskon = subtotal - jumlah_diskon
print(f"Harga setelah diskon: Rp {harga_setelah_diskon:,.0f}")
# 5. Hitung PPN (11% dari harga setelah diskon)
ppn = 0.11 * harga_setelah_diskon
print(f"PPN (11%): Rp {ppn:,.0f}")
# 6. Hitung Total Akhir
total_akhir = harga_setelah_diskon + ppn
print("-" * 30)
print(f"Total yang harus dibayar: Rp {total_akhir:,.0f}")

Subtotal belanja: Rp 165,000
Diskon yang didapat: Rp 24,750
Harga setelah diskon: Rp 140,250
PPN (11%): Rp 15,428
------------------------------
Total yang harus dibayar: Rp 155,678

In [53]:
# Contoh penggunaan operator format
# %d -> integer
umur = 19
print("Umur saya %d tahun" % umur)
# %f -> float (bilangan desimal)
tinggi = 162.4
print("Tinggi saya adalah %f cm" % tinggi)
print("Tinggi saya dibulatkan jadi %.1f cm" % tinggi)  # pakai 1 angka di belakang koma
# %s -> string
food = "Mi ayam bakso"
print("Putri sedang memesan %s" % food)
# %x -> hexadecimal
angka = 255
print("Angka %d dalam heksadesimal adalah %x" % (angka, angka))
# %o -> octal
print("Angka %d dalam oktal adalah %o" % (angka, angka))

Umur saya 19 tahun
Tinggi saya adalah 162.400000 cm
Tinggi saya dibulatkan jadi 162.4 cm
Putri sedang memesan Mi ayam bakso
Angka 255 dalam heksadesimal adalah ff
Angka 255 dalam oktal adalah 377