<a href="https://colab.research.google.com/github/Maulanip/Pemerograman-Dasar/blob/main/Pertemuan_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 17;
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 6
print(type(x))

x = "6"
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [ ]:
x = True
print(type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x ='Polibatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line= """Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum'at yang lalu."""

print(multi_line)

Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum'at yang lalu.

In [ ]:
x = 'Polibatam'
print(x[0])

P

In [ ]:
x = 'Polibatam'
x[0] = 'F'

TypeError: 'str' object does not support item assignment

In [ ]:
nama = "Putri"
print("Nama saya :", nama)

Nama saya : Putri

In [ ]:
name = "Putri Maulani"
print("Nama saya {}" . format(name))

Nama saya Putri Maulani

In [ ]:
name = "Putri maulani"
print("Nama saya %s" % (name))

Nama saya Putri maulani

In [ ]:
name = "Putri Maulani"
print(f"Hello, nama saya {name}")

Hello, nama saya Putri Maulani

In [ ]:
x = 'Polibatam'
print(x[2:])

libatam

In [ ]:
x = [1,2.2, 'polibatam']
print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'Polibatam', True, 1.2]

print(x[2])

True

In [ ]:
x = [1, 2.2, 'Polibatam']
x[0] = 'Indonesia'
print(x)

['Indonesia', 2.2, 'Polibatam']

In [ ]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] # 51

print (numbers[1]) #lakukan untuk setiap indeksnya dan lihat hasilnya

43

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)  # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4,5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

#print setiap hasil perubahan dan amati hasilnya

3

In [ ]:
# deklarasi variabel list
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

# cara mengakses elemen dalam variabel list
myList[0] # 1
myList[1] # "Rumah"
myList[3] # True
myList[4] # ["Kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
myList[4][0] # "Kamar mandi"
myList[4][1] # "Kamar tidur"

#lakukan print lalu amati hasilnya

'Kamar tidur'

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
# Elemen tidak bisa diubah
propertyDetail = (1, "Rumah", True)

In [ ]:
x =(1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
x = (5, 'program', 1+3j)
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
#lakukan print lalu amati hasilnya

15

In [ ]:
x = {1, 2, 7, 2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2)
print("union:", union)

intersection = set1.intersection(set2)
print("intersection:", intersection)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}

In [ ]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b) # {1, 2, 3, 4}

# operasi irisan
a.intersection(b) #{1, 4}

# operasi perbedaan
a.symmetric_difference(b) # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [ ]:
x = { 'name': 'Perseus Evens', 'age': 20, 'isMarried': False }

print(type(x))

<class 'dict'>

In [ ]:
x = { 'name': 'Persius Evens', 'age': 20, 'isMarried': False }

print(x[0])

KeyError: 0

In [ ]:
x = { 'name': 'Perseus Evens', 'age': 20, 'isMarried': False }

print(x['name'])

Perseus Evens

In [ ]:
x = { 'name': 'Perseus Evens', 'age': 20, 'isMarried': False }
x ['Job'] = "Web Developer"

print(x)

{'name': 'Perseus Evens', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

In [ ]:
x = { 'name': 'Perseus Evens', 'age': 20, 'isMarried': False }
del x['isMarried']

print(x)

{'name': 'Perseus Evens', 'age': 20}

In [ ]:
x = { 'name': 'Perseus Evens', 'age': 20, 'isMarried': False }
x ['name'] = "Exvan"

print(x)

{'name': 'Exvan', 'age': 20, 'isMarried': False}

In [ ]:
# deklarasi variabel dictionary
propertyDetail1 = {"numFloors": 1, "propertyTyoe": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary
propertyDetail1["numFloors"]    # 1
propertyDetail1["propertyTyoe"] # Rumah
propertyDetail1["hasTerrace"]   # True
propertyDetail1["hasGarage"]    # False

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail1["hasTerrace"] = False

propertyDetail1["hasTerrace"]       # false

#print(propertyDetai1["propertyType"])

#lakukan print lalu amati hasilnya

False

In [2]:
# variabel: nilai literal
firstName = "Putri"
lastName = "Maulani"
age = 19
isMarried = False

#tampilkan nilai variabel
print(firstName)
print(lastName)
print(age)
print(isMarried)

Putri
Maulani
19
False

In [8]:
data_diri = {'firstName': 'Putri','lastName': 'Maulani', 'age': 19, 'isMarried' : False }
print(data_diri)

{'firstName': 'Putri', 'lastName': 'Maulani', 'age': 19, 'isMarried': False}

In [17]:
# inspeksi bertipe data list
inspeksi = ['pemahaman terhadap rencana dan desain', 'ketersediaan bahan dan peralatan', 'pengawasan pekerjaan', 'kualitas konstruksi', 'keselamatan kerja', 'koordinasi dengan pemilik proyek']
print(inspeksi[0:6])

['pemahaman terhadap rencana dan desain', 'ketersediaan bahan dan peralatan', 'pengawasan pekerjaan', 'kualitas konstruksi', 'keselamatan kerja', 'koordinasi dengan pemilik proyek']

In [20]:
starTime = {"HH": 9, "mm": 23, "ss": 57}
endTime = {"HH": 15, "mm": 25, "ss": 43}
print(starTime,endTime)

{'HH': 9, 'mm': 23, 'ss': 57} {'HH': 15, 'mm': 25, 'ss': 43}

In [24]:
# dalam set
katalog_A = {'wortel', 'kangkung', 'ubi', 'jagung'}
katalog_B = {'cabe merah', 'bawang putih', 'daun bawang', 'jagung'}
# dalam tuple
produk_diskon =  {'wortel', 'cabe merah'}

katalog_lengkap = katalog_A.union(katalog_B)
print("katalog_lengkap:", katalog_lengkap)

produk_promo_aktif = katalog_lengkap.intersection(katalog_diskon)
print("produk_promo_aktif:", produk_promo_aktif)

katalog_lengkap: {'jagung', 'kangkung', 'bawang putih', 'wortel', 'daun bawang', 'ubi', 'cabe merah'}
produk_promo_aktif: {'wortel', 'cabe merah'}